<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RealEstateExample.Properties.Settings.real_estate_exampleConnectionString"
            connectionString="Dsn=MySQL_RealEstateDS;uid=root;database=real_estate_example;port=3306"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>